# Entorno virtual de Python
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración
instance/

# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias
pip-wheel-metadata/

# Tests
tests/